{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "max-len": ["error", 100]
  }
}
